.container {
  position: relative;
}

.loaderOverlay {
  position: fixed; /* або absolute, якщо є певний контекст */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7); /* напівпрозорий фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* щоб був поверх усього */
}
.carList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 48px;
  column-gap: calc((100% - 276px * 4) / 3);
  padding-bottom: 80px;
}

.carList > * {
  width: 276px;
}

.loadMoreButton {
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 51px;
  font-weight: 600;
  font-size: 16px;
  color: var(--main);
  margin: 0 auto;
  display: block;
  background-color: transparent;
  margin-bottom: 124px;
  cursor: pointer;
}

.loadMoreButton:hover {
  border: 1px solid var(--button-hover);
}
