.carCard {
  width: 276px;
}
.imageWrapper {
  position: relative;
  display: inline-block;
}
.image {
  border-radius: 14px;
  height: auto;
  max-width: 100%;
  display: block;
}
.favoriteButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  z-index: 2;
}
.carData {
  padding-top: 16px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.carName {
  font-weight: 500;
  font-size: 16px;
}
.model {
  color: var(--button);
}
.rentalPrice {
  font-weight: 500;
  font-size: 16px;
}
.address {
  display: flex;
  padding-bottom: 4px;
}
.other {
  display: flex;
  padding-bottom: 32px;
}
.parameter {
  font-weight: 400;
  font-size: 12px;
  color: var(--gray);
}
.line {
  stroke-width: 1px;
  stroke: var(--gray-light);
}
.cardButton {
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: var(--button);
  width: 100%;
  margin: 0 auto;
  display: block;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}

.cardButton:hover {
  background: var(--button-hover);
}
